DB_HOST=localhost
DB_USER=db_User
DB_PASSWD=db_Password
DB_PORT=5432
DB_DATABASE=db_name

NEXT_PUBLIC_API_URL = "https://development-api.company.com"
NEXT_PUBLIC_ENV_VARIABLE="public_variable"

GOOGLE_CLIENT_ID="your-google-Api-id"
GOOGLE_CLIENT_SECRET="your-google-Api-secret-key"

GITHUB_ID=""
GITHUB_SECRET=""
